<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="contact.css">
    <title>Document</title>
</head>
<body>
    <div class="container contact-page">
        <h1>Contact Form:<br/>Can be filled and Submitted for inquiries</h1>
          <div class="contact-form">
            <form>
              <ul>
                <li class="half">
                  <input placeholder="Name" type="text" name="name" required />
                </li>
                <li class="half">
                  <input
                    placeholder="Email"
                    type="email"
                    name="email"
                    required
                  />
                </li>
                <li>
                  <input
                    placeholder="Subject"
                    type="text"
                    name="subject"
                    required
                  />
                </li>
                <li>
                  <textarea
                    placeholder="Message"
                    name="message"
                    required
                  ></textarea>
                </li>
                <li>
                  <input type="submit" class="flat-button" value="SEND" />
                </li>
              </ul>
            </form>
          </div>
        </div>
       
        
</body>
</html>