<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Document</title>
   
</head>
<body>
    <div class="login">
        <div class="login-container">
          <h1>LOGIN</h1>
          <form action="/login" method="post">
            <input
              type="id"
              name="id"
              placeholder="ID"
              required
            />
            <br />
            <input
              type="password"
              name="password"
              placeholder="user-password"
              required
            />
            <br />
            <br />
            <input
              type="submit"
              class="login-button"
              value="LOGIN"
            />
          </form>
          <br />
          <br />
          <p>are you a staff login as staff
            <a class="link" href="/staff">
              Signup
            </a>
          </p>
          <p>
            Don't Have An Account?
            <a class="link" href="/Signup">
              Signup
            </a>
          </p>
        </div>
      </div>
</body>
</html>