<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Document</title>

</head>
<body>
    <div class='signup-container'>
        <div class='signup-form'>
         <h1>SIGNUP</h1>
       <form action='/signup' method="post">
       <input type='name' placeholder='Enter Name' name="name" required/><br/>
       <input type='email' placeholder='user-email' name="email" required/><br/>
       <input type='password'placeholder='Enter Pasword' name="password" required/><br/>
       <input type='password' placeholder='Confirm Password' name="confirmPassword" required/><br/>
       
       <br/>
       <input type="submit" class='signup-button' value="SIGNUP"/>
       <br/>
       
       </form>
       </div>
</body>
</html>