<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="staff.css" />
    <title>Document</title>
</head>
<body>
    <div class='staff-container'>
        <div class='staff-form'>
         <h1>Staff Login</h1>
       <form action='/staff' method="post">
       <input type='id' placeholder='Enter Staff ID'  required/><br/>
       <input type='password'placeholder='Enter Pasword'  required/><br/>
       
       <br/>
       <input type="submit" class='staff-button' value="Login"/>
       <br/>
       <p>Forgot Password?<br/>Contact Administrator For Support</p>
       
       </form>
       </div>
    </div>
</body>
</html>