<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>
  <form action='/api/subscribe/daily' method="post">
    <div class="sub-page">
        <div class="subscription">
          <h1>Choose Your Favourable Plan!</h1>
      <div class='daily'>
         <h2>Daily Plan<br/>@KSH200 </h2>
         <input type='submit'  value='SUBSCRIBE'/>
         
       </div>
  </form>
    <form action="/api/subscribe/weekly" method="post">
       <div class='weekly'>
      <h2>Weekly Plan<br/>@KSH600 </h2>
      <input type='submit'  value='SUBSCRIBE'/>
      </div>
    </form>
     <form action="/api/subscribe/monthly" method="post">
      <div class='monthly'>
      <h2>Monthly Plan<br/>@KSH2200</h2>
      <input type='submit'  value='SUBSCRIBE'/>
      </div>
     </form>
      
      </div>
    </div>
</body>
</html>